<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>
          <span class="lang lang-es">Testimonios</span>
          <span class="lang lang-en" style="display:none;">Testimonials</span>
        </h2>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 testimonios">
        <p style="margin-bottom: 20px;">
          <span class="lang lang-es">“Josele T. Cesarman es una profunda y amorosa observadora de la naturaleza, y es admirable ver como aprovecha ese su don de observación…Yo saludo a esta artista con gran admiración y cariño…”</span>
          <span class="lang lang-en" style="display:none;">“Josele T. Cesarman is a deep and loving observer of nature, and it is admirable to see how she takes advantage of this gift of observation… I salute this artist with great admiration and affection.”</span>
          <br>
          <strong><em>
            <span class="lang lang-es">—Rufino Tamayo, 1983</span>
            <span class="lang lang-en" style="display:none;">—Rufino Tamayo, 1983</span>
          </em></strong>
        </p>

        <p style="margin-bottom: 20px;">
          <span class="lang lang-es">“Algunos todavía sentimos esa conexión vital con el mundo que nos rodea y la obra de Josele es un claro testimonio de ello, uno de gran poder y talento. Ella nos transmite el lazo sutil de interdependencia (que nos empeñamos en ignorar) entre los seres cuyo peligro se cierne en este nuestro planeta Tierra.”</span>
          <span class="lang lang-en" style="display:none;">“Some still feel that vital connection with the world that surrounds us, and the work of Josele is a clear testimony of this, one of great power and talent. She transmits to us the subtle ties of interdependence (that we insist in ignoring) among the beings whose peril hangs over this, our planet Earth.”</span>
          <br>
          <strong><em>
            <span class="lang lang-es">—Leonora Carrington, 1991</span>
            <span class="lang lang-en" style="display:none;">—Leonora Carrington, 1991</span>
          </em></strong>
        </p>

        <p style="margin-bottom: 20px;">
          <span class="lang lang-es">“Contundencia y armonía en los cuadros de Josele Cesarman, que es imposible mirarlos sin desear irse dentro de uno.”</span>
          <span class="lang lang-en" style="display:none;">“There is a forcefulness and harmony in the paintings of Josele Cesarman so that it is impossible to look at them without wanting to get inside one.”</span>
          <br>
          <strong><em>
            <span class="lang lang-es">—Ángeles Mastretta, 2000</span>
            <span class="lang lang-en" style="display:none;">—Ángeles Mastretta, 2000</span>
          </em></strong>
        </p>

        <p style="margin-bottom: 20px;">
          <span class="lang lang-es">“En las ventanas góticas de Josele T. Cesarman, el mundo es visto hacia fuera y el mundo mira hacia adentro. Cada mirada le da forma a su respectivo caos; cada una penetra a la otra: se trata de gótico-erótico. Observamos el movimiento de la tranquilidad. Pero también la tranquilidad del movimiento. Una plata avanza. Es la soledad. Pero la soledad avanza: es de plata. El cuadro entra en nosotros como nosotros entramos en el cuadro.”</span>
          <span class="lang lang-en" style="display:none;">“In the gothic windows of Josele T. Cesarman the world is seen looking outward and the world looks inward. Each look gives form to its respective chaos; each one penetrates the other—it is Gothic-erotic. We observe the movement of tranquility. But also the tranquility of movement. Something silver draws near. It is solitude. But solitude approaches: it is silver. The painting is in us as we enter the painting.”</span>
          <br>
          <strong><em>
            <span class="lang lang-es">—Carlos Fuentes, 1992</span>
            <span class="lang lang-en" style="display:none;">—Carlos Fuentes, 1992</span>
          </em></strong>
        </p>

        <p style="margin-bottom: 20px;">
          <span class="lang lang-es">“El secreto del arte de esta artista se halla precisamente en el choque provocado por el tema que ella interpreta a base de formas tradicionales, pero siempre con una gama cromática libre, contaminada e inquietante.”</span>
          <span class="lang lang-en" style="display:none;">“The secret of this artist's art is in fact in the shock caused by the topic that she interprets with the help of traditional art-forms, but always with a free, complex and disquieting chromatic range.”</span>
          <br>
          <strong><em>
            <span class="lang lang-es">—Mathias Goeritz, 1991</span>
            <span class="lang lang-en" style="display:none;">—Mathias Goeritz, 1991</span>
          </em></strong>
        </p>

        <p style="margin-bottom: 20px;">
          <span class="lang lang-es">“Los trece paisajes de gran formato que ahora me ha sido dado ver, colocan a Josele en un primer rango del paisajismo contemporáneo. Diría que a través de este genero pictórico Josele pinta sus diferentes estados del alma.”</span>
          <span class="lang lang-en" style="display:none;">“The thirteen landscapes of large format that I have observed, place Josele in the first rank of contemporary landscape painting. I would say that through this painting genre Josele paints the different states of her soul.”</span>
          <br>
          <strong><em>
            <span class="lang lang-es">—José Luis Cuevas, 1988</span>
            <span class="lang lang-en" style="display:none;">—José Luis Cuevas, 1988</span>
          </em></strong>
        </p>

        <p style="margin-bottom: 20px;">
          <span class="lang lang-es">“Toma ella una tela y pone en ella un pedazo de su corazón, y uno de su alma, luego toma un pincel y esparce su alegría de vivir, su diversión por la naturaleza, su felicidad, dando a nosotros, espectadores algo que es mucho mas que solo una pintura…”</span>
          <span class="lang lang-en" style="display:none;">“She takes a canvas and puts on it a piece of her heart, and one of her soul, then taking a paintbrush she spreads her happiness of living, her amusement in nature, her happiness; giving to us, the spectators something that is much more than a painting.”</span>
          <br>
          <strong><em>
            <span class="lang lang-es">—Tamara Trottner, 1991</span>
            <span class="lang lang-en" style="display:none;">—Tamara Trottner, 1991</span>
          </em></strong>
        </p>
      </div>
    </div>
  </div>
</section>
