<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Testimonios</h2>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p style="margin-bottom: 20px;">“Josele T. Cesarman es una profunda y amorosa observadora de la naturaleza, y es admirable ver como aprovecha ese su don de observación…Yo saludo a esta artista con gran admiración y cariño…”
 
<br>—Rufino Tamayo, 1983
 </p>
         <p style="margin-bottom: 20px;">“Algunos todavía sentimos esa conexión vital con el mundo que nos rodea y la obra de Josele es un claro testimonio de ello, uno de gran poder y talento. Ella nos transmite el lazo sutil de interdependencia (que nos empeñamos en ignorar) entre los seres cuyo peligro se cierne en este nuestro planeta Tierra.”
 
<br>—Leonora Carrington, 1991
 </p>
         <p style="margin-bottom: 20px;">“Contundencia y armonía en los cuadros de Josele Cesarman, que es imposible mirarlos sin desear irse dentro de uno.”
 
<br>—Ángeles Mastretta, 2000</p>
         <p style="margin-bottom: 20px;">“En las ventanas góticas de Josele T. Cesarman, el mundo es visto hacia fuera y el mundo mira hacia adentro. Cada mirada le da forma a su respectivo caos; cada una penetra a la otra: se trata de gótico-erótico.  Observamos el movimiento de la tranquilidad. Pero también la tranquilidad del movimiento. Una plata avanza. Es la soledad. Pero la soledad avanza: es de plata.  El cuadro entra en nosotros como nosotros entramos en el cuadro.”
 
<br>—Carlos Fuentes, 1992​</p>
         <p style="margin-bottom: 20px;">“El secreto del arte de esta artista se halla precisamente en el choque provocado por el tema que ella interpreta a base de formas tradicionales, pero siempre con una gama cromática libre, contaminada e inquietante.”
 
<br>—Mathias Goeritz, 1991</p>
         <p style="margin-bottom: 20px;">“Los trece paisajes de gran formato que ahora me ha sido dado ver, colocan a Josele en un primer rango del paisajismo contemporáneo.  Diría que a través de este genero pictórico Josele pinta sus diferentes estados del alma.”
 
 
<br>—José Luis Cuevas, 1988</p>
         <p style="margin-bottom: 20px;">“Toma ella una tela y pone en ella un pedazo de su corazón, y uno de su alma, luego toma un pincel y esparce su alegría de vivir, su diversión por la naturaleza, su felicidad, dando a nosotros, espectadores algo que es mucho mas que solo una pintura…”
 
<br>—Tamara Trottner, 1991</p>
      </div>
      
    <!--  <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p -->
      </div>
    </div>
  </div>
</section>
